body {
    background-color: #f6f6f6;
    margin: 0;
}

header {
    background-color: #1a1a1d;
    padding: 1px 25px 0 25px;
    border-bottom: 3px solid #3438f5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

header img {
    float: left;
    width: 35px;
    height: 35px;
    padding: 23px 10px 0 0;
}

h1 {
    font: lighter 32px Futura;
    color: white;
    display: inline-block;
}

#date-clock {
    font: lighter 22px Futura;
    color: white;
    float: right;
    margin-top: 8px;
    padding: 7px;
    width: auto;
    white-space: pre-wrap;
}

main {
    display: flex;
    padding: 25px 0;
    margin-right: 10px;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

#note-container {
    background-color: white;
    padding: 25px;
    border: 1px solid #606062;
    border-radius: 5px;
    margin: auto;
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

article input {
    background-color: red;
    width: 100%;
    height: 750px;
    word-wrap: break-word;
    padding: 0;
}

h2 {
    display: inline;
    margin: 0;
    padding: 0;
    font: bold 30px Arial;
    color: #333333;
}

#new-button {
    background-color: #3438f5;
    height: 40px;
    width: 100%;
    color: white;
    border-radius: 30px;
    margin-top: 5px;
    font-size: large;
    font-weight: bold;
    border-style: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

#new-button:hover {
    cursor: pointer;
    background-color: #0105bb;
}

ul {
    overflow-y: auto;
    padding-left: 0px;
    padding-right: 5px;
    height: 75vh;
}

li {
    background-color: #f6f6f6;
    word-wrap: break-word;
    color: #606062;
    font: bold 15px Arial;
    list-style-type: none;
    padding: 10px 10px 10px 35px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.date-picker {
    background: #ffffff url(calendar.png) 93% 50% no-repeat;
    color: black;
    opacity: 1;
    display: inline;
    float: right;
    margin-left: 10px;
    padding: 7px;
    border: 1px solid #606062;
    border-radius: 5px;
    width: 123px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.date-picker:hover {
    border-color: #3438f5;
    cursor: pointer;
}

.save-button {
    background-color: #3438f5;
    height: 20px;
    width: 50%;
    display: left;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    font-size: smaller;
    font-weight: bold;
    border-style: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.save-button:hover {
    cursor: pointer;
    background-color: #0105bb;
}

.remove-button {
    background-color: #ed141b;
    height: 20px;
    width: 50%;
    float: right;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: smaller;
    font-weight: bold;
    border-style: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.remove-button:hover {
    cursor: pointer;
    background-color: #b92424;
}

h3 {
    margin: 0;
    padding: 0;
    display: inline;
}

.date-title {
    margin: 0;
    float: right;
}

::-webkit-scrollbar {
    cursor: auto;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    margin-top: 19px;
    margin-bottom: 20px;
}

::-webkit-scrollbar-thumb {
    background: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border: rgba(0, 0, 0, 0.1) solid 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e7e7e7;
}
