body {
    background-color: #f6f6f6;
    margin: 0;
}

header {
    background-color: #1a1a1d;
    padding: 0 25px;
    border-bottom: 3px solid #3438f5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

header img {
    float: left;
    width: 35px;
    height: 35px;
    padding: 23px 10px 0 0;
}

h1 {
    font: lighter 32px Futura;
    color: #ffffff;
    display: inline-block;
}

#date-clock {
    font: lighter 22px Futura;
    color: #ffffff;
    float: right;
    margin-top: 8px;
    padding: 7px;
    width: auto;
    white-space: pre-wrap;
}

main {
    display: flex;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
}

#note-container {
    background-color: white;
    padding: 25px;
    border: 1px solid #606062;
    border-radius: 5px;
    margin: auto;
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

h2 {
    display: inline;
    font: bold 30px Arial;
    color: #333333;
}

.date-picker {
    background: #ffffff url(calendar.png) 93% 50% no-repeat;
    color: #333333;
    font: bold small Arial;
    display: inline;
    float: right;
    margin-left: 10px;
    padding: 7px 7px 4px 7px;
    border: 1px solid #606062;
    border-radius: 5px;
    width: 123px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.date-picker:hover {
    border-color: #3438f5;
    cursor: pointer;
}

ul {
    overflow-y: auto;
    padding: 0 10px 0 0;
    height: 60vh;
}

li {
    background-color: #f6f6f6;
    color: #606062;
    list-style-type: none;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border: rgba(0, 0, 0, 0.1) solid 1px;
}

#save-button {
    background-color: #3438f5;
    color: #ffffff;
    height: 25px;
    width: 50%;
    display: left;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 5px;
    margin-top: 25px;
    font: bold smaller Arial;
    border-style: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

#save-button:hover {
    cursor: pointer;
    background-color: #0105bb;
}

#remove-button {
    background-color: #ed141b;
    color: #ffffff;
    height: 20px;
    width: 50%;
    float: right;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 5px;
    margin-top: 25px;
    font: bold smaller Arial;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

#remove-button:hover {
    background-color: #b92424;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    margin-top: 19px;
    margin-bottom: 20px;
}

::-webkit-scrollbar-thumb {
    background: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border: rgba(0, 0, 0, 0.1) solid 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e7e7e7;
}

.big-button {
    background-color: #3438f5;
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 30px;
    margin-top: 25px;
    font: bold larger Arial;
    border-style: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.big-button:hover {
    cursor: pointer;
    background-color: #0105bb;
}

.note-form {
    display: inline;
}

#new-note-window {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#new-note-window-inner {
    background-color: #ffffff;
    margin: 20vh auto;
    padding: 25px;
    width: 50%;
    border: 1px solid #606062;
    border-radius: 5px;
}

#close-button {
    background-color: red;
    margin: 0;
    padding: 0 15px 1px 15px;
    border-radius: 35px;
    color: #ffffff;
    float: right;
    font: bold 16px Arial;
    border-style: none;
}

#close-button:hover {
    background-color: rgb(154, 2, 2);
    cursor: pointer;
}

#new-note-form {
    background-color: #f6f6f6;
    color: #606062;
    font: bold 15px Arial;
    list-style-type: none;
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border: rgba(0, 0, 0, 0.1) solid 1px;
}

.note-title {
    background: #ffffff;
    color: #333333;
    font: bold small Arial;
    padding: 9px;
    border: 1px solid #606062;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    outline: none;
    caret-color: #3438f5;
}

.note-title:hover {
    border-color: #3438f5;
    cursor: pointer;
}

.note-title:focus {
    border-color: #3438f5;
    cursor: auto;
}

textarea {
    background: white;
    color: #333333;
    font: bold small Arial;
    padding: 10px 10px;
    border: 1px solid #606062;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    margin-top: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    resize: none;
    box-sizing: border-box;
    outline: none;
    caret-color: #3438f5;
}

textarea:hover {
    border-color: #3438f5;
    cursor: pointer;
}

textarea:focus {
    border-color: #3438f5;
    cursor: auto;
}

h3 {
    margin-top: 50px;
    font: bold 22px Arial;
    color: #333333;
    justify-content: center;
    display: flex;
}
