<!DOCTYPE html>
<html lang="sv" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dagbok</title>
        <link rel="icon" href="favicon.png" />
        <link rel="stylesheet" href="style.css" />
        <script src="script.js" defer></script>
    </head>
    <body>
        <header>
            <img src="diary-icon.png" alt="ikon" />
            <h1>Dagbok</h1>
            <span id="dateClock"></span>
        </header>
        <main>
            <div>
                <h2>Inlägg</h2>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                        quisquam quaerat?
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                        quisquam quaerat?
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                        quisquam quaerat?
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                        quisquam quaerat?
                    </li>
                </ul>
                <button>Nytt Inlägg</button>
            </div>
        </main>
    </body>
</html>
