<!DOCTYPE html>
<html lang="sv" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dagbok</title>
        <link rel="icon" href="favicon.png" />
        <link rel="stylesheet" href="style.css" />
        <script src="script.js" defer></script>
    </head>
    <body>
        <header>
            <img src="diary-icon.png" alt="ikon" />
            <h1>Dagbok</h1>
            <span id="dateClock"></span>
        </header>
        <main>
            <div>
                <h2>Inlägg</h2>
                <input class="date-picker" type="date" min="2023-01-01" />
                <input class="date-picker" type="date" min="2023-01-01" value="2023-01-01" />
                <ul>
                    <li>
                        <h3>Haaaaaaaaallåååååå</h3>
                        <p class="date-title">2023-09-10</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                        </p>
                        <button class="save-button">Spara</button>
                        <button class="remove-button">Ta bort</button>
                    </li>
                    <li>
                        <h3>Vad händer?</h3>
                                                <p class="date-title">2023-10-10</p>
                        <p>
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                        </p>
                        <button class="save-button">Spara</button>
                        <button class="remove-button">Ta bort</button>
                    </li>
                    <li>
                        <h3>Hej på dig.</h3>
                                                <p class="date-title">2023-11-10</p>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?s
                        </p>
                        <button class="save-button">Spara</button>
                        <button class="remove-button">Ta bort</button>
                    </li>
                    <li>
                        <h3>Nej!</h3>
                                                <p class="date-title">2023-12-10</p>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?s
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero quis rem alias, eaque dicta aliquid ipsam rerum quod a nesciunt nobis sed! Illo ad mollitia ea in
                            quisquam quaerat?s
                        </p>
                        <button class="save-button">Spara</button>
                        <button class="remove-button">Ta bort</button>
                    </li>
                </ul>
                <button id="new-button">Nytt inlägg</.button>
            </div>
        </main>
    </body>
</html>
