<!DOCTYPE html>
<html lang="sv" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dagbok</title>
        <link rel="icon" href="favicon.png" />
        <link rel="stylesheet" href="style.css" />
        <script src="script.js" defer></script>
    </head>
    <body>
        <header>
            <img src="diary-icon.png" alt="ikon" />
            <h1>Dagbok</h1>
            <span id="date-clock"></span>
        </header>
        <main>
            <div id="note-container">
                <h2>Inlägg</h2>
                <input id="date-picker-max" class="date-picker" type="date" />
                <input id="date-picker-min" class="date-picker" type="date" />
                <ul>
                    <li th:each="note : ${notes}">
                        <h3 th:text="${note.title}"></h3>
                        <span th:text="${note.date}" class="date-title"></span>
                        <p th:text="${note.text}"></p>
                        <button class="save-button">Spara</button>
                        <button class="remove-button">Ta bort</button>
                    </li>
                </ul>
                <button id="new-button">Nytt inlägg</button>
            </div>
        </main>
    </body>
</html>
